@import url("/home.css");

h1 {
    color: red;
}
p {
    background-color: yellow;
}
div {
    width: 300px;
    background-color: teal;
    color: white;
}

:root {
    --div-background-color: #00FF00;
    --div-width:200px;
    --div-height:100px;
    --div-border: 2px solid black;
    --div-image: url('/images/bird.jpg');
    --div-bg-position:center;

}